<?xml version="1.0"?>
<config>
    <modules>
        <Quan_Demo>
            <version>0.1.0</version>
        </Quan_Demo>
    </modules>

    <frontend>
        <routers>
            <Quan_Demo>
                <use>standard</use>
                <args>
                    <module>Quan_Demo</module>
                    <frontName>Demo</frontName>
                </args>
            </Quan_Demo>
        </routers>
        <layout>
            <updates>
                <Demo>
                    <file>demo.xml</file>
                </Demo>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <Demo>
                <class>Quan_Demo_Block</class>
            </Demo>
        </blocks>
        <models>
            <Demo>
                <class>Quan_Demo_Model</class>
                <resourceModel>demo_mysql4</resourceModel>
            </Demo>
            <demo_mysql4>
                <class>Quan_Demo_Model_Mysql4</class>
                <entities>
                    <MyDemo>
                        <table>dbDemo</table>
                    </MyDemo>
                </entities>
            </demo_mysql4>
        </models>
        <resources>
            <Demo_setup>
                <setup>
                    <module>Quan_Demo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Demo_setup>
            <Demo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Demo_write>
            <Demo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Demo_read>
        </resources>
    </global>
</config>