<?xml version="1.0"?>
<config>
    <modules>
        <Ducna_Demo5>
            <version>0.1.0</version>
        </Ducna_Demo5>
    </modules>
    <frontend>
        <routers>
            <demo5>
                <use>standard</use>
                <args>
                    <module>Ducna_Demo5</module>
                    <frontName>demo5</frontName>
                </args>
            </demo5>
            <catalog>
                <args>
                    <modules>
                        <ducna_demo5 before="Mage_Catalog">Ducna_Demo5</ducna_demo5>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
    <global>
        <models>
            <demo5>
                <class>Ducna_Demo5_Model</class>
                <resourceModel>demo5_mysql4</resourceModel>
            </demo5>
            <demo5_mysql4>
                <class>Ducna_Demo5_Model_Mysql4</class>
                <entities>
                    <MyModel>
                        <table>demo5</table>
                    </MyModel>
                </entities>
            </demo5_mysql4>
        </models>
        <resources>
            <demo5_setup>
                <setup>
                    <module>Ducna_Demo5</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </demo5_setup>
            <demo5_write>
                <connection><use>core_write</use></connection>
            </demo5_write>
            <demo5_read>
                <connection><use>core_read</use></connection>
            </demo5_read>
        </resources>
    </global>
</config>